<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Bibliografia</h3>
    </div>
    <div class="modal-body" id="bodyEvalRiesgo">

        <p>
            Los trastornos del desarrollo son patologías que afectan entre un 20 y 35% de los niños. El pediatra tiene la responsabilidad de atenderlos de manera adecuada. La detección precoz de los problemas de desarrollo mejora el pronóstico de los pacientes. El uso de instrumentos de pesquisa permite identificar niños en riesgo de padecer un problema de desarrollo, cuando los síntomas son aún leves. La Sociedad Argentina de Pediatría recomienda el empleo de métodos de pesquisa para la detección oportuna de los problemas de desarrollo. La Prueba Nacional de Pesquisa (PRUNAPE) fue validada en Argentina para este fin.
        </p>
        
        <p>
            La detección oportuna de problemas de desarrollo: 1) mejora la respuesta terapéutica, 2) reduce el tiempo de tratamiento, 3) mejora el rendimiento escolar, 4) reduce la deserción escolar, 5) reduce la desocupación juvenil. La prueba fue construida ante la evidencia de que aproximadamente el 50 % de los problemas de desarrollo psicomotor eran tardíamente reconocidos.
        </p>
        <p>
            Es requisito estar habilitado para administrar la PRUNAPE ya que brinda información sobre el desarrollo del niño y requiere que su interpretación esté adecuada al contexto clínico. Se dictan cursos presenciales y a distancia en el hospital Garrahan.
        </p>

        <p>
            Link con manual de la OMS de acceso libre y gratuito:
            <br/>
            <a href="http://www1.paho.org/hq/dmdocuments/manual-vigilancia-desarrollo-infantil-aiepi-2011.pdf">http://www1.paho.org/hq/dmdocuments/manual-vigilancia-desarrollo-infantil-aiepi-2011.pdf</a>
        </p>
        <p>
            Arch Argent Pediatr 2013;111(6)476-483 / 476 Validación de un formulario para la detección de niños con alto riesgo de padecer trastornos del desarrollo. Cuestionario PRUNAPE pre-pesquisa. Dr. Horacio Lejarraga, Dra. Diana Kelmansky, Dra. Celina Lejarraga, Dra. Gabriela Charrúa, Dra. Graciela Salamanco, Dr. Iván Insúa y Dr. Fernando Nunes.
        </p>
        <p>
            Lejarraga Horacio, Krupitzky Sara, Kelmansky Diana y colaboradores. Edad de cumplimiento de pautas de desarrollo en niños argentinos sanos menores de 6 años. Arch. Arg. Ped. Volumen 94 número 6 año 1996. pag 355 - 368
        </p>
    </div>

</div>

